* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #EFEFEF;

}

body::before {
    content: '';
    background: #535971;
    width: 100%;
    height: 436px;
    display: block;
    position: absolute;
    top: 0;
    z-index: -1;

}

.page,
.button {
    width: 750px;
    margin: auto;

}

header {
    width: 319px;
    margin-top: 140px;
}

header h1 {

    font-family: 'Staatliches', sans-serif;
    font-weight: 400;
    font-size: 48px;
    color: #FFFFFF;
    text-transform: uppercase;
}

header p {

    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    color: #FFFFFF;
    margin-top: 18px;
}

form {
    background: white;
    width: 750px;
    height: 1084px;
    border-radius: 20px 20px 0 0;
    margin-top: 56px;
    padding: 64px;

}

fieldset {
    border: none;
}



.input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

fieldset legend {
    color: #535971;
    font-family: Staatliches;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    text-transform: uppercase;
    width: 100%;
    border-bottom: 1px solid #E6E6F0;
    padding-bottom: 16px;
    margin-bottom: 36px;
}

.input-wrapper label {
    color: #4E4958;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.two-columns,
.three-columns {
    display: flex;
    gap: 22px;
}

.input-wrapper input {

    background: #FAFAFC;
    border-radius: 8px;
    border: 1px solid #E6E6F0;
    height: 56px;
    padding: 0 24px;
    font-size: 16px;
    margin-bottom: 16px;

}

.input-wrapper label span {
    color: #C1BCCC;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    padding-left: 5px;
}

.two-columns> :nth-child(1),
.two-columns> :nth-child(2),
.three-columns> :nth-child(1) {
    width: 100%;
}

fieldset .subtitle {
    font-size: 20px;
    border: none;
    margin-bottom: 0;
    padding-bottom: 8px;
}


footer {
    background: #535971;
    width: 750px;
    height: 160px;
    border-radius: 0px 0px 20px 20px;
    margin-bottom: 366px;
    display: flex;
}

.button {
    border: none;
    border-radius: 20px;
    background: #FF5374;
    width: 608px;
    height: 55.652px;
    padding: 15px 40px;
    font-family: Staatliches;
    font-size: 20px;
    font-style: normal;
    color: white;
    line-height: 26px;
}

.button:hover {
    background: #b63c54;
}

input:invalid {
    border: 1px solid #FF1010;
}